.invoice-width {
	max-width: 2480px;
}

.card-width {
	max-width: 100px;
}

.form-control:focus {
	border-color: #007bffc7;
	box-shadow: none;
}

.form-group.required .control-label:after { 
	content:" *";
	color:red;
}